body {
    margin-top:25px;
    color:white;
    font-weight: bold;
    font-family:Garamond;
    background-image: url(/ui/wallpaper.jpg);
	background-attachment: fixed;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container
{
    width: 70%;
}
.fs
{
	font-size: 25px;
}

.btn
{
    font-weight: bold;
	height: 40px;
	width: 100px;
}

